/.idea
/.phpunit.cache
/build
/coverage
/node_modules
/node_modules.nosync
/vendor
/vendor.nosync
/var
/.vscode
.DS_Store
.phpunit.cache
.phpunit.result.cache
composer.phar
Thumbs.db
# Prevent published skeleton migrations from causing duplicate migration issues
vendor/orchestra/testbench-core/laravel/database/migrations/*.php
